<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index page</title>
</head>
<body>
    <h1>21 centure </h1>
    <h2>Smolensk</h2>

    {% for nam in name %}
    <p>
        {{ nam}}
    </p>
    {% endfor %}

</body>
</html>